.box {
    width: 50%;
    padding: 2rem;
    border: 1px solid white;
}
.box .box-icon i{
    font-size: 1.5rem;
}
.box h1 {
    font-weight: bold;
    padding: 0.5rem 0;
}
@media only screen and (max-width : 720px) {
    .box {
        width: 100%!important;
    }
}